<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
</head>
<body>
    <div class="container">
        <div class="split left">
          <h1>Open Face</h1>
          <a href="/openface" class="button">Show Project</a>  
        </div>
        <div class="split right">
          <h1>Emotion Detector</h1>
          <a href="/mediapipe" class="button">Show Project</a>
        </div>
      </div>
      <script src="{{ url_for('static', filename='javascript/myscripts.js') }}"></script>
</body>
</html>